* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

#evitaheader {
  font-size: 70px;
  font-family: "Comforter", cursive;
  color: #967233;
}

#home {
  color: #967233;
  border-color: #967233;
  border-bottom: 1px solid #967233;
  padding-bottom: 2px;
  font-family: "Source Serif 4", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

@media (max-width: 425px) {
  #evitaheader {
    font-size: 40px;
  }
}

#navcontent {
  color: black;
  font-family: "Source Serif 4", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#navcontent:hover {
  padding-bottom: 2px;
  border-color: #967233;
  border-bottom: 1px solid #967233;
  color: #967233;
}

#navbg {
  background-color: #ffffff;
}

li {
  margin-left: 10px;
}

.about {
  background-color: #f6f6f6;
}

p {
  margin-top: 200px;
  font-size: 20px;
  font-family: "Source Serif 4", sans-serif;
}

.evita {
  border-radius: 50%;
  margin-top: 200px;
}

@media only screen and (min-width: 1024px) {
  .evita {
    width: 40%;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(150,114,51, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #967233;
}

.button {
  background-color: #967233;
  color: white;
  font-weight: bolder;
}

.button:hover {
  color: black;
}

#contact {
  background-color: #dbbeaa;
  color: white;
  font-weight: bold;
}

.padding-x {
  padding-top: 150px;
}

.contact-heading {
  text-align: left;
  color: #967233;
  font-weight: bold;
}

.padding-y {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #dbbeaa;
}

.form-control {
  background-color: white;
  border: none;
}

/* .contact-form select:focus,
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form button:focus {
  background: var(--bgFormElsFocus);
  color: white;
} */

#line {
  border-top: 2px solid white;
  margin-top: 50px;
}

#social {
  width: 15%;
}

@media screen and (min-width: 768px) {
  #social {
    width: 4%;
  }
}

ul li {
  font-size: 1em;
  color: white;
  font-family: "Source Serif 4", sans-serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
  text-decoration: none;
}
/* Gallery Components Start */
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: auto auto auto auto;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper:hover > img.gray {
  filter: grayscale(1);
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}

.img-wrapper:hover > img.zoom {
  transform: scale(1.1);
}

.img-wrapper > .content.slide-left {
  transform: translateX(-100%);
}

.img-wrapper:hover > .content.slide-left {
  transform: translateX(0);
}

.img-wrapper > .content.slide-right {
  transform: translateX(100%);
}

.img-wrapper:hover > .content.slide-right {
  transform: translateX(0);
}

.img-wrapper > .content.slide-down {
  transform: translateY(-100%);
}

.img-wrapper:hover > .content.slide-down {
  transform: translateY(0);
}

.img-wrapper > .content.slide-up {
  transform: translateY(100%);
}

.img-wrapper:hover > .content.slide-up {
  transform: translateY(0);
}
/* Gallery Components End */
